<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="food-app" class="dashboard-container">
    <div class="container">
        <div class="tableBar">
            <div class="el-input el-input--prefix el-input--suffix" style="width: 250px;">
                <input type="text" autocomplete="off" placeholder="请输入菜品名称" class="el-input__inner">
                <span class="el-input__prefix">
                        <i class="el-input__icon el-icon-search" style="cursor: pointer;"></i>
                </span>
            </div>
            <button type="button" class="el-button el-button--primary" id="btn-search">
                <span>查询</span>
            </button>
            <div class="tableLab" >
                <button type="button" class="el-button el-button--primary continue">
                    <span>+ 导入</span>
                </button>
                <button type="button" class="el-button el-button--primary">
                    <span>- 导出</span>
                </button>
                <button type="button" class="el-button el-button--primary continue">
                    <span>- 删除菜品</span>
                </button>
                <button type="button" class="el-button el-button--primary el-button--add">
                    <span>+ 新建菜品</span>
                </button>
            </div>
        </div>
        <div class="el-table tableBox el-table--fit el-table--striped el-table--enable-row-hover">
            <div class="hidden-columns">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="el-table__header-wrapper">
                <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 100%;">
                    <thead>
                        <tr>
                            <th colspan="1" rowspan="1" class="el-table_1_column_1   #tbody  is-leaf" style="width: 25px;">
                                <div class="cell">
                                    <label class="el-checkbox is-disabled">
                                        <span class="el-checkbox__input">
                                            <input type="checkbox" value="" onchange='commonChoiceAll()'>
                                        </span>
                                    </label>
                                </div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_2 is-leaf">
                                <div class="cell">菜品名称</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_3 is-center is-leaf">
                                <div class="cell">图片</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_4 is-leaf">
                                <div class="cell">菜品分类</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_5 is-leaf">
                                <div class="cell">售价</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_6 is-leaf">
                                <div class="cell">售卖状态</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_7 is-leaf">
                                <div class="cell">最后操作时间</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_8 is-center is-leaf">
                                <div class="cell">操作</div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="el-table__body-wrapper is-scrolling-none">
                <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 100%;">
                    <tbody id="tbodyId"></tbody>
                </table>
                <div class="el-table__empty-block" style="height: 100%; width: 100%; display: none;">
                    <span class="el-table__empty-text">暂无数据</span>
                </div>
            </div>
            <div class="el-table__column-resize-proxy" style="display: none;"></div>
        </div>
        <div class="pageList el-pagination" id="pageId">

        </div>

    </div>
</div>
<style>
    .fa {
        -webkit-transition: -webkit-transform linear 0.3s;
        -moz-transition: -moz-transform linear 0.3s;
        -o-transition: -o-transform linear 0.3s;
        transition: transform linear 0.3s;
    }
    .fa:hover {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    .fa-search-plus:before {
        content: "\f00e";
    }
    .fa-search-minus:before {
        content: "\f010";
    }
    .fa-search:before {
        content: "\f002";
    }
</style>
<script>
    $(function() {
        $(".el-button--add").on("click", addPage);
        $("#btn-search").on("click", doGetObjects);
        $("#pageId").load("page/page",function(){
            doGetObjects();
        });
    })

    function doGetObjects() {
        var url = "item/findAllItem";
        var curPage = $("#pageId").data("curPage");
        debugger;
        var params = {
            itemName : $(".el-input__inner").val(),
            curPage: curPage ?  curPage : 1,
            pageSize : 10
        };
        $.get(url,params,function(result){
            if(result.state == 1){
                loadItemData(result.data.pageData);
                setPageData(result.data);//加载分页数据
            }else{
                alert(result.message);
            }
        })
    }

    function loadItemData(data) {
        $("#tbodyId").empty();
        var dataStr = "";
        if(!data.length){
            dataStr += "<td colspan='7'>数据正在加载中...</td>";
        }else{
            for (var i = 0; i < data.length; i++){
                //dataStr += "<tr><td><input type='checkbox' value='"+ data[i].id+"'>" + (i+1) +"</td>"
                dataStr += "<tr><td class='el-table_1_column_1   el-table-column--selection  is-leaf' style='width: 25px'><div class='cell'><label class='el-checkbox'><span class='el-checkbox__input'>" +
                    "<input type='checkbox' id='input-data' aria-hidden='false'' value='" + data[i].id+ "' onchange='commonChoiceThis()'></span></label></div></td>";
                dataStr += "<td class='el-table_1_column_2 is-leaf'><div class='cell'>"+ data[i].itemName + "</div></td>";
                dataStr += "<td class='el-table_1_column_3 is-center is-leaf'><div class='cell'>" + data[i].itemImg + "</div></td>";
                dataStr += "<td class='el-table_1_column_4 is-leaf'><div class='cell'>" + data[i].itemTitle + "</div></td>";
                dataStr += "<td class='el-table_1_column_5 is-leaf'><div class='cell'>" + data[i].itemPrice + "</div></td>";
                dataStr += "<td class='el-table_1_column_6 is-leaf'><div class='cell'>" +(data[i].itemState?"上架":"下架") + "</div></td>";
                dataStr += "<td class='el-table_1_column_7 is-leaf'><div class='cell'>" +data[i].createdTime + "</div></td>";
                dataStr += "<td class='el-table_1_column_8 is-center is-leaf'><div><button type='button' onclick='changeState(this)' class='el-button el-button--primary'>"+(data[i].itemState ? "下架" : "上架") +"</button><button type='button' class='el-button el-button--primary continue'>修改</button></div></td></td>";
                dataStr += "</tr>"
            }
            $("#tbodyId").append(dataStr);
        }
    }

    function changeState(btn){
        var id= $(btn).parents("tr").find("input").val();
        var url = "item/updateState";
        var state = $(btn).text() == '下架' ? 0 : 1;
        var params = {id:id,state:state}
        debugger;
        $.get(url,params,function(result){
            alert(result.message);
            //刷新页面
            doGetObjects();
            //静态刷新
            $(btn).text(valid == 0 ? "启用" : "禁用");
            $(btn).parents("td").children(":eq(6)").text(valid == 1 ? "启用" : "禁用");
        })
    }

    /**
     * 选中当前多选框事件方法
     */
    function commonChoiceThis() {
        //主体数据部分所有多选框
        var totalInp = $("#tbodyId input[type='checkbox']");
        //主题数据部分所有被选中的多选框
        var totalCkd = $("#tbodyId input[type='checkbox']:checked");
        //title部分多选框（全选，全不选）
        var firstInp = $(".el-checkbox__input input[type='checkbox']:first");
        //如果所有多选框的数量等于被选中多选框的数据，则勾上全选，否则取消全选
        /*if (totalInp.length == totalCkd.length) {
            firstInp.prop("checked",true);
        }else{
            firstInp.prop("checked",false);
        }*/
        firstInp.prop("checked",totalInp.length == totalCkd.length);
    }

    /**
     * 多选框全选事件方法
     */
    function commonChoiceAll() {
        //$():$包起来的是jq对象，是一个dom数组
        //加下标：变成js对象
        var firstInp = $(".el-checkbox__input input[type='checkbox']:first");
        var checked = firstInp[0].checked;//加下标变js对象
        //:gt(0) --->选择下标大于0的元素
        $(".el-checkbox__input input[type='checkbox']:gt(0)").prop("checked", checked);
    }

    function addPage() {
        $("#cIframe").load("item/add");
    }
</script>
<script src="api/food/food.js"></script>