<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div id="category-app" class="dashboard-container">
    <div class="container">
        <div class="tableBar" style="display: inline-block;">
            <button type="button" class="el-button continue el-button--primary">
                <span>+ 新增菜品分类</span>
            </button>
            <button type="button" class="el-button el-button--primary">
                <span>+ 新增套餐分类</span>
            </button>
        </div>
        <div class="el-table tableBox el-table--fit el-table--striped el-table--enable-row-hover">
            <div class="hidden-columns">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="el-table__header-wrapper">
                <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 100%;">
                    <thead>
                        <tr>
                            <th colspan="1" rowspan="1" class="el-table_1_column_1 is-leaf">
                                <div class="cell">分类名称</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_2 is-leaf">
                                <div class="cell">分类类型</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_3 is-leaf">
                                <div class="cell">添加时间</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_4 is-leaf">
                                <div class="cell">排序</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_5 is-center is-leaf">
                                <div class="cell">操作</div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="el-table__body-wrapper is-scrolling-none">
                <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 100%;">
                    <tbody></tbody>
                </table>
                <div class="el-table__empty-block" style="height: 100%; width: 100%;">
                    <span class="el-table__empty-text">暂无数据</span>
                </div>
            </div>
            <div class="el-table__column-resize-proxy" style="display: none;"></div>
        </div>
        <div class="pageList el-pagination">
            <span class="el-pagination__total">共 0 条</span>
            <span class="el-pagination__sizes">
                <div class="el-select el-select--mini">
                    <div class="el-input el-input--mini el-input--suffix">
                        <input type="text" readonly="readonly" autocomplete="off" placeholder="请选择" class="el-input__inner">
                        <span class="el-input__suffix">
                            <span class="el-input__suffix-inner">
                                <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                            </span>
                        </span>
                    </div>
                    <div class="el-select-dropdown el-popper" style="display: none; min-width: 110px;">
                        <div class="el-scrollbar">
                            <div class="el-select-dropdown__wrap el-scrollbar__wrap el-scrollbar__wrap--hidden-default">
                                <ul class="el-scrollbar__view el-select-dropdown__list">
                                    <li class="el-select-dropdown__item selected"><span>10条/页</span></li>
                                    <li class="el-select-dropdown__item"><span>20条/页</span></li>
                                    <li class="el-select-dropdown__item"><span>30条/页</span></li>
                                    <li class="el-select-dropdown__item"><span>40条/页</span></li>
                                </ul>
                            </div>
                            <div class="el-scrollbar__bar is-horizontal">
                                <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                            </div>
                            <div class="el-scrollbar__bar is-vertical">
                                <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <button type="button" disabled="disabled" class="btn-prev">
                <i class="el-icon el-icon-arrow-left"></i>
            </button>
            <ul class="el-pager">
                <li class="number active">1</li>
            </ul>
            <button type="button" disabled="disabled" class="btn-next">
                <i class="el-icon el-icon-arrow-right"></i>
            </button>
            <span class="el-pagination__jump">
                前往
                <div class="el-input el-pagination__editor is-in-pagination">
                    <input type="number" autocomplete="off" min="1" max="1" class="el-input__inner">
                </div>
                页
            </span>
        </div>
    </div>
    <div class="el-dialog__wrapper" style="display: none;">
        <div role="dialog" aria-modal="true" aria-label="添加菜品分类" class="el-dialog" style="margin-top: 15vh; width: 30%;">
            <div class="el-dialog__header">
                <span class="el-dialog__title">添加菜品分类</span>
                <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                    <i class="el-dialog__close el-icon el-icon-close"></i>
                </button>
            </div>
            <div class="el-dialog__footer">
                <span class="dialog-footer">
                    <button type="button"class="el-button el-button--default el-button--medium">
                        <span>取 消</span>
                    </button>
                    <button type="button" class="el-button el-button--primary el-button--medium">
                        <span>确 定</span>
                    </button>
                    <button type="button" class="el-button continue el-button--primary el-button--medium">
                        <span>保存并继续添加</span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<script src="api/category/category.js"></script>