<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qqls.youxiangousys.pj.admin.sys.dao.SysUserDao">
    <sql id="userQuery">
        <if test="name != null || name !=''">
            where name like concat("%",#{name},"%")
        </if>
    </sql>
    <!--修改状态-->
    <update id="updateValId">
        update t_user set state = #{state} where id = #{id}
    </update>

    <select id="findUser" resultType="com.qqls.youxiangousys.pj.admin.sys.entity.SysUser">
        select * from t_user
        <include refid="userQuery"></include>
        limit #{start},#{pageSize};
    </select>

    <select id="countUser" resultType="Integer">
        select count(1) from t_user
        <include refid="userQuery"/>
    </select>
</mapper>