@font-face {
  font-family: "iconfont"; /* Project id 3761000 */
  src: url('iconfont.woff2?t=1667994186819') format('woff2'),
       url('iconfont.woff?t=1667994186819') format('woff'),
       url('iconfont.ttf?t=1667994186819') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-category:before {
  content: "\e600";
}

.icon-coupon:before {
  content: "\e69b";
}

.icon-log:before {
  content: "\e69a";
}

.icon-menu:before {
  content: "\e7c0";
}

.icon-user:before {
  content: "\e72e";
}

.icon-notice:before {
  content: "\e8c4";
}

.icon-item:before {
  content: "\e613";
}

.icon-order:before {
  content: "\e60e";
}

.icon-carousel:before {
  content: "\e99b";
}

