<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="food-app" class="dashboard-container">
    <div class="container">
        <div class="tableBar">
            <div class="el-input el-input--prefix el-input--suffix" style="width: 250px;">
                <input type="text" autocomplete="off" placeholder="请输入菜品名称" class="el-input__inner">
                <span class="el-input__prefix">
                    <i class="el-input__icon el-icon-search" style="cursor: pointer;"></i>
                </span>
            </div>
            <div class="tableLab">
                <button type="button" class="el-button el-button--primary">
                    <span>+ 新建菜品</span>
                </button>
            </div>
        </div>
        <div class="el-table tableBox el-table--fit el-table--striped el-table--enable-row-hover">
            <div class="hidden-columns">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="el-table__header-wrapper">
                <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 1630px;">
                    <colgroup>
                        <col name="el-table_1_column_1" width="25">
                        <col name="el-table_1_column_2" width="245">
                        <col name="el-table_1_column_3" width="240">
                        <col name="el-table_1_column_4" width="240">
                        <col name="el-table_1_column_5" width="240">
                        <col name="el-table_1_column_6" width="240">
                        <col name="el-table_1_column_7" width="240">
                        <col name="el-table_1_column_8" width="160">
                    </colgroup>
                    <thead>
                        <tr>
                            <th colspan="1" rowspan="1" class="el-table_1_column_1   el-table-column--selection  is-leaf">
                                <div class="cell">
                                    <label class="el-checkbox is-disabled">
                                        <span class="el-checkbox__input is-disabled">
                                            <span class="el-checkbox__inner"></span>
                                            <input type="checkbox" aria-hidden="false" disabled="disabled" value="" class="el-checkbox__original">
                                        </span>
                                    </label>
                                </div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_2 is-leaf">
                                <div class="cell">菜品名称</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_3 is-center is-leaf">
                                <div class="cell">图片</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_4 is-leaf">
                                <div class="cell">菜品分类</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_5 is-leaf">
                                <div class="cell">售价</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_6 is-leaf">
                                <div class="cell">售卖状态</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_7 is-leaf">
                                <div class="cell">最后操作时间</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_8 is-center is-leaf">
                                <div class="cell">操作</div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="el-table__body-wrapper is-scrolling-none">
                <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 1630px;">
                    <colgroup>
                        <col name="el-table_1_column_1" width="25">
                        <col name="el-table_1_column_2" width="245">
                        <col name="el-table_1_column_3" width="240">
                        <col name="el-table_1_column_4" width="240">
                        <col name="el-table_1_column_5" width="240">
                        <col name="el-table_1_column_6" width="240">
                        <col name="el-table_1_column_7" width="240">
                        <col name="el-table_1_column_8" width="160">
                    </colgroup>
                    <tbody></tbody>
                </table>
                <div class="el-table__empty-block" style="height: 100%; width: 1630px;">
                    <span class="el-table__empty-text">暂无数据</span>
                </div>
            </div>
            <div class="el-table__column-resize-proxy" style="display: none;"></div>
        </div>
        <div class="pageList el-pagination">
            <span class="el-pagination__total">共 0 条</span>
            <span class="el-pagination__sizes">
                <div class="el-select el-select--mini">
                    <div class="el-input el-input--mini el-input--suffix">
                        <input type="text" readonly="readonly" autocomplete="off" placeholder="请选择" class="el-input__inner">
                        <span class="el-input__suffix">
                            <span class="el-input__suffix-inner">
                                <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                            </span>
                        </span>
                    </div>
                    <div class="el-select-dropdown el-popper" style="display: none; min-width: 110px;">
                        <div class="el-scrollbar">
                            <div class="el-select-dropdown__wrap el-scrollbar__wrap el-scrollbar__wrap--hidden-default">
                                <ul class="el-scrollbar__view el-select-dropdown__list">
                                    <li class="el-select-dropdown__item selected"><span>10条/页</span></li>
                                    <li class="el-select-dropdown__item"><span>20条/页</span></li>
                                    <li class="el-select-dropdown__item"><span>30条/页</span></li>
                                    <li class="el-select-dropdown__item"><span>40条/页</span></li>
                                </ul>
                            </div>
                            <div class="el-scrollbar__bar is-horizontal">
                                <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                            </div>
                            <div class="el-scrollbar__bar is-vertical">
                                <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <button type="button" disabled="disabled" class="btn-prev">
                <i class="el-icon el-icon-arrow-left"></i>
            </button>
            <ul class="el-pager">
                <li class="number active">1</li>
            </ul>
            <button type="button" disabled="disabled" class="btn-next">
                <i class="el-icon el-icon-arrow-right"></i>
            </button>
            <span class="el-pagination__jump">
                前往
                <div class="el-input el-pagination__editor is-in-pagination">
                    <input type="number" autocomplete="off" min="1" max="1" class="el-input__inner">
                </div>
                页
            </span>
        </div>
    </div>
</div>
<script>
    $(function() {
        $(".el-button--primary").on("click", addPage);
    })

    function addPage() {
        $("#cIframe").load("food/add");
    }
</script>
<script src="api/food/food.js"></script>