<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>优鲜购管理端</title>
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="plugins/element-ui/index.css">
    <link rel="stylesheet" href="styles/common/common.css">
    <link rel="stylesheet" href="styles/index/index.css">
    <link rel="stylesheet" href="styles/icon/iconfont.css">
    <link rel="stylesheet" href="styles/page/page.css">
    <script src="js/jquery/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div id="app" class="app">
        <div class="app-wrapper openSidebar clearfix">
            <div class="sidebar-container">
                <div class="logo">
                    <img src="images/login/login-logo.png" alt="" style="width: 118px; transition: width .2s;">
                </div>
                <div class="el-scrollbar">
                    <div class="scrollbar-wrapper el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                        <div class="el-scrollbar__view">
                            <ul role="menubar" class="el-menu" style="background-color: rgb(52, 55, 68);">
                                <div id="load-user-id">
                                    <li role="menuitem" tabindex="-1" class="el-menu-item"
                                        style="padding-left: 20px; color: rgb(191, 203, 217); background-color: rgb(52, 55, 68);">
                                        <i class="iconfont icon-user"></i>
                                        <span>用户管理</span>
                                    </li>
                                </div>
                                <div id="load-item-id">
                                    <li role="menuitem" tabindex="-1" class="el-menu-item"
                                        style="padding-left: 20px; color: rgb(191, 203, 217); background-color: rgb(52, 55, 68);">
                                        <i class="iconfont icon-item"></i>
                                        <span>商品管理</span>
                                    </li>
                                </div>
                                <div id="load-category-id">
                                    <li role="menuitem" tabindex="-1" class="el-menu-item"
                                        style="padding-left: 20px; color: rgb(191, 203, 217); background-color: rgb(52, 55, 68);">
                                        <i class="iconfont icon-category"></i>
                                        <span>分类管理</span>
                                    </li>
                                </div>
                                <div id="load-coupon-id">
                                    <li role="menuitem" tabindex="-1" class="el-menu-item"
                                        style="padding-left: 20px; color: rgb(191, 203, 217); background-color: rgb(52, 55, 68);">
                                        <i class="iconfont icon-coupon"></i>
                                        <span>优惠券管理</span>
                                    </li>
                                </div>
                                <div id="load-notice-id">
                                    <li role="menuitem" tabindex="-1" class="el-menu-item"
                                        style="padding-left: 20px; color: rgb(191, 203, 217); background-color: rgb(52, 55, 68);">
                                        <i class="iconfont icon-notice"></i>
                                        <span>公告管理</span>
                                    </li>
                                </div>
                                <div id="load-carousel-id">
                                    <li role="menuitem" tabindex="-1" class="el-menu-item"
                                        style="padding-left: 20px; color: rgb(191, 203, 217); background-color: rgb(52, 55, 68);">
                                        <i class="iconfont icon-carousel"></i>
                                        <span>轮播图管理</span>
                                    </li>
                                </div>
                                <div id="load-menu-id">
                                    <li role="menuitem" tabindex="-1" class="el-menu-item"
                                        style="padding-left: 20px; color: rgb(191, 203, 217); background-color: rgb(52, 55, 68);">
                                        <i class="iconfont icon-menu"></i>
                                        <span>菜单管理</span>
                                    </li>
                                </div>
                                <div id="load-log-id">
                                    <li role="menuitem" tabindex="-1" class="el-menu-item"
                                        style="padding-left: 20px; color: rgb(191, 203, 217); background-color: rgb(52, 55, 68);">
                                        <i class="iconfont icon-log"></i>
                                        <span>日志管理</span>
                                    </li>
                                </div>
                                <div id="load-order-id">
                                    <li role="menuitem" tabindex="-1" class="el-menu-item"
                                        style="padding-left: 20px; color: rgb(191, 203, 217); background-color: rgb(52, 55, 68);">
                                        <i class="iconfont icon-order"></i>
                                        <span>订单明细</span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="el-scrollbar__bar is-horizontal">
                        <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                    </div>
                    <div class="el-scrollbar__bar is-vertical">
                        <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="navbar">
                    <div class="head-lable">
                        <span>优鲜购欢迎您</span>
                    </div>
                    <div class="right-menu">
                        <div class="avatar-wrapper">admin</div>
                        <img src="images/icons/btn_close@2x.png" alt="退出" class="outLogin">
                    </div>
                </div>
                <div class="app-main">
                    <div class="divTmp" style="display: none;"></div>
                    <div id="cIframe" name="cIframe"></div>
                    <div class="el-loading-mask" style="display: none;">
                        <div class="el-loading-spinner">
                            <svg viewBox="25 25 50 50" class="circular">
                                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var idUrls =[
            {
                id:"load-user-id",
                url:"user/list"
            },
            {
                id:"load-category-id",
                url:"category/list"
            },
            {
                id:"load-coupon-id",
                url:"coupon/list"
            },
            {
                id:"load-item-id",
                url:"item/list"
            },
            {
                id:"load-notice-id",
                url:"notice/list"
            },
            {
                id:"load-carousel-id",
                url:"carousel/list"
            },
            {
                id:"load-menu-id",
                url:"menu/list"
            },
            {
                id:"load-log-id",
                url:"log/list"
            },
            {
                id:"load-order-id",
                url:"order/list"
            }
        ];
        //侧边栏状态true:打开 false:关闭
        var changeSidebarState = false;
        $(function() {
            $.each(idUrls, function(key, value) {
                doPageUI(value.id,value.url);
            })
            $(".logo").click(changeSidebarContainer)
        })

        //侧边栏
        function changeSidebarContainer() {
            if (changeSidebarState) {
                $(this).children().width("118")
                $(".sidebar-container").width("190");
                $(".main-container").width(($(".main-container").width() - 130));
                $(".main-container").css("transition", "1s");
                changeSidebarState = false;
            } else {
                $(this).children().width("15")
                $(".sidebar-container").width("60");
                $(".main-container").width(($(".main-container").width() + 130));
                $(".main-container").css("transition", "0s");
                changeSidebarState = true;
            }
        }

        //绑定点击事件
        function doPageUI(id, url) {
            $("#"+id).click(function() {
                $("#cIframe").load(url, function() {
                    for (var i = 0; i < idUrls.length; i++) {
                        if (idUrls[i].url == url) {
                            $("#"+idUrls[i].id+" li").addClass("is-active");
                            $(".head-lable span").text($("#"+idUrls[i].id+" li span").text());

                        } else {
                            $("#"+idUrls[i].id+" li").removeClass("is-active");
                        }
                    }
                });
            })
        }
    </script>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="plugins/axios/axios.min.js"></script>
    <script src="js/request/request.js"></script>
    <script src="js/validate/validate.js"></script>
    <script src="api/login/login.js"></script>
</body>
</html>