<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<!-- namespace:命名空间，对应一个dao层接口的全路径 -->
<mapper namespace="com.qqls.youxiangousys.pj.sys.dao.SysCategoryDao">

    <!--查询所有菜单及父菜单名称 -->
    <select id="doFindCategory" resultType="map">
        select c.id id,c.name name,c.type_type typeType,c.parent_id parentId,c.type_sell typeSell,c.created_time createdTime ,p.name parentName from t_type c left join t_type p on c.parent_id=p.id where c.type_type != 3
    </select>


    <select id="findZtreeCategory" resultType="com.qqls.youxiangousys.pj.common.entity.Node">
        select * from t_type
    </select>

    <!--添加菜单-->
    <insert id="saveCategory">
        insert into t_type values(null,#{name},#{typeType},#{parentId},#{typeSell},null,null,now(),now())
    </insert>

    <!--修改菜单-->
    <delete id="updateCategory">
        update t_type set name=#{name},type_type=#{typeType},parent_id=#{parentId},type_sell=#{typeSell},modified_user=#{modifiedUser}, modified_time=now() where id=#{id}
    </delete>

    <!--删除-->
    <update id="deleteCategoryByIds">
        update t_type set type_type = #{typeType}, type_sell = 0 where id in
        <foreach collection="ids" open="(" separator="," close=")" item="ids">
            #{ids}
        </foreach>
    </update>
</mapper>