<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qqls.youxiangousys.pj.sys.dao.SysLogDao">

    <sql id="queryLog">
        <where>
            <if test="username != null and username != ''">
                username like concat("%",#{username},"%")
            </if>
        </where>
    </sql>

    <select id="getCountLog" resultType="int">
        select count(1) from t_log
        <include refid="queryLog"/>
    </select>

    <select id="findItemByUsername" resultType="com.qqls.youxiangousys.pj.sys.entity.SysLog">
        select * from t_log <include refid="queryLog"/> limit #{start},#{pageSize}
    </select>

    <delete id="deleteLogByIds">
       delete from t_log  where id in
        <foreach collection="array" open="(" separator="," close=")" item="ids">
            #{ids}
        </foreach>
    </delete>

    <insert id="insertLog">
        insert into t_log value(null,#{username},#{operation},#{method},#{params},#{time},#{ip},#{createdTime})
    </insert>

</mapper>