<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<!-- namespace:命名空间，对应一个dao层接口的全路径 -->
<mapper namespace="com.qqls.youxiangousys.pj.sys.dao.SysMenuDao">

    <select id="findObjects" resultType="map">
        select c.id id,c.name name,c.parent_id parentId,c.menu_type menuType,c.permission permission ,p.name parentName from t_menu c left join t_menu p on c.parent_id=p.id
    </select>

    <select id="findZtreeMenu" resultType="com.qqls.youxiangousys.pj.common.entity.Node">
        select * from t_menu
    </select>
    <!--通过菜单id找所有授权标识-->
    <select id="findPermission" resultType="java.lang.String">
        select permission from t_menu where id in
        <foreach collection="menuIds" open="(" close=")" separator="," item="menuId">
            #{menuId}
        </foreach>
    </select>

    <insert id="saveMenu">
        insert into t_menu values(null,#{name},#{menuNote},#{menuType},#{parentId},#{permission},null,null,now(),now())
    </insert>

    <delete id="updateMenu">
        update t_menu set name=#{name},menu_note=#{menuNote},menu_type=#{menuType},parent_id=#{parentId},permission=#{permission},modified_user=#{modifiedUser}, modified_time=now() where id=#{id}
    </delete>

    <!--select c.id id,c.menu_name menuName,c.parent_id parentId,p.menu_name parentName from t_menu c left join t_menu p on c.parent_id=p.id-->
</mapper>