<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    .container {
        width: 100%;
    }
</style>
<style>
    .search-btn {
        margin-left: 20px;
    }

    .tableBar {
        justify-content: flex-start !important;
    }

    .info-box {
        margin: -15px -44px 20px;
    }

    .info-box .item-box {
        display: flex;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        text-align: left;
        margin-bottom: 14px;
    }

    .info-box .item-box:last-child {
        margin-bottom: 0;
    }

    .info-box .item-box .label {
        width: 96px;
    }

    .info-box .item-box .des {
        flex: 1;
        color: #333333;
    }
</style>


<div id="order-app" class="dashboard-container">
    <div class="container">
        <div class="tableBar">
            <div class="el-input el-input--prefix" style="width: 250px;">
                <input type="text" autocomplete="off" placeholder="请输入订单号" class="el-input__inner">
                <span class="el-input__prefix">
                    <i class="el-input__icon el-icon-search" style="cursor: pointer;"></i>
                </span>
            </div>
            <div class="el-date-editor el-range-editor el-input__inner el-date-editor--datetimerange" style="width: 400px; margin-left: 20px;">
                <i class="el-input__icon el-range__icon el-icon-time"></i>
                <input type="date" autocomplete="off" placeholder="开始日期" name="" class="el-range-input">
                <span class="el-range-separator">至</span>
                <input type="date" autocomplete="off" placeholder="结束日期" name="" class="el-range-input">
                <i class="el-input__icon el-range__close-icon"></i>
            </div>
            <button type="button" class="el-button search-btn el-button--primary">
                <span>查询</span>
            </button>
        </div>
        <div class="el-table tableBox el-table--fit el-table--striped el-table--enable-row-hover">
            <div class="hidden-columns">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="el-table__header-wrapper">
                <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 100%;">
                    <thead>
                        <tr class="">
                            <th colspan="1" rowspan="1" class="el-table_1_column_1   #tbody  is-leaf" style="width: 25px;">
                                <div class="cell" style="padding-left: 11px">
                                    <label class="el-checkbox is-disabled">
                                        <span class="el-checkbox__input">
                                            <input type="checkbox" value="" onchange='commonChoiceAll()'>
                                        </span>
                                    </label>
                                </div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_2     is-leaf">
                                <div class="cell">订单号</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_3     is-leaf">
                                <div class="cell">订单状态</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_4     is-leaf">
                                <div class="cell">用户</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_5     is-leaf">
                                <div class="cell">手机号</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_6     is-leaf">
                                <div class="cell">地址</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_7     is-leaf">
                                <div class="cell">下单时间</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_8     is-leaf">
                                <div class="cell">实收金额</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_9     is-leaf">
                                <div class="cell">操作</div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="el-table__body-wrapper is-scrolling-none">
                <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 100%;">
                    <tbody id="tbodyId"></tbody>
                </table>
                <div class="el-table__empty-block" style="height: 100%; width: 100%;">
                    <span class="el-table__empty-text">暂无数据</span>
                </div>
            </div>
            <div class="el-table__column-resize-proxy" style="display: none;"></div>
        </div>
        <!--<div class="pageList el-pagination">
            <span class="el-pagination__total">共 0 条</span>
            <span class="el-pagination__sizes">
                <div class="el-select el-select&#45;&#45;mini">
                    <div class="el-input el-input&#45;&#45;mini el-input&#45;&#45;suffix">
                        <input type="text" readonly="readonly" autocomplete="off" placeholder="请选择" class="el-input__inner">
                        <span class="el-input__suffix">
                            <span class="el-input__suffix-inner">
                                <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                            </span>
                        </span>
                    </div>
                    <div class="el-select-dropdown el-popper" style="display: none; min-width: 110px;">
                        <div class="el-scrollbar">
                            <div class="el-select-dropdown__wrap el-scrollbar__wrap el-scrollbar__wrap&#45;&#45;hidden-default">
                                <ul class="el-scrollbar__view el-select-dropdown__list">
                                    <li class="el-select-dropdown__item selected"><span>10条/页</span></li>
                                    <li class="el-select-dropdown__item"><span>20条/页</span></li>
                                    <li class="el-select-dropdown__item"><span>30条/页</span></li>
                                    <li class="el-select-dropdown__item"><span>40条/页</span></li>
                                </ul>
                            </div>
                            <div class="el-scrollbar__bar is-horizontal">
                                <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                            </div>
                            <div class="el-scrollbar__bar is-vertical">
                                <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <button type="button" disabled="disabled" class="btn-prev">
                <i class="el-icon el-icon-arrow-left"></i>
            </button>
            <ul class="el-pager">
                <li class="number active">1</li>
            </ul>
            <button type="button" disabled="disabled" class="btn-next">
                <i class="el-icon el-icon-arrow-right"></i>
            </button>
            <span class="el-pagination__jump">
                前往
                <div class="el-input el-pagination__editor is-in-pagination">
                    <input type="number" autocomplete="off" min="1" max="1" class="el-input__inner">
                </div>
                页
            </span>
        </div>-->
        <div class="pageList el-pagination" id="pageId">

        </div>
    </div>
    <div class="el-dialog__wrapper" style="display: none;">
        <div role="dialog" aria-modal="true" aria-label="订单信息" class="el-dialog" style="margin-top: 15vh; width: 30%;">
            <div class="el-dialog__header">
                <span class="el-dialog__title">订单信息</span>、
                <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                    <i class="el-dialog__close el-icon el-icon-close"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<script src="api/order/order.js"></script>

<div role="alert" class="el-message el-message--error el-message-fade-leave-active el-message-fade-leave-to" style="top: 20px; z-index: 2000;">
    <i class="el-message__icon el-icon-error"></i>
    <p class="el-message__content">后端接口连接异常</p>
</div>
<script>
    $(function (){
        $(".el-button--primary").on("click",doGetObjects);
        //先加载数据，再查询数据
        $("#pageId").load("page/page",function(){
            doGetObjects();
        })
    })

    /**
     * 初始加载
     */
    function doGetObjects(){
        debugger;
        var url = "order/findOrder";
        var curPage = $("#pageId").data("curPage");
        var params = {
            "name" : $(".el-input__inner").val(),
            "curPage" :curPage ? curPage : 1,
            "pageSize" : 5
        };
        $.get(url,params,function(result){
            if(result.state == 0){
                commonShowTips(result.message);
            }else{
                loadRoleData(result.data.pageData);//加载表格主体数据
                setPageData(result.data);//分页
            }
        })
    }

    /**
     * 加载主体数据
     */
    function loadRoleData(data){
        var tbody = $("#tbodyId");
        tbody.empty();
        for (var i = 0;i < data.length;i++){
            var d = data[i];
            debugger
            var tr = "<tr>"+
                "<td class='el-table_1_column_1   el-table-column--selection  is-leaf' style='width: 25px;'><div class='cell' style='padding-left: 11px'>" +
                "<label class='el-checkbox'><span class='el-checkbox__input'>" +
                "<input type='checkbox' id='input-data' aria-hidden='false'' value='" + d.id+ "' ></span></label></div></td>"
                +"<td class='el-table_1_column_2 is-leaf' colspan='1' rowspan='1'><div class='cell'>" + d.orderNumber + "</div></td>"
                +"<td class='el-table_1_column_3 is-leaf' colspan='1' rowspan='1'><div class='cell'>" + d.state + "</div></td>"
                +"<td class='el-table_1_column_4 is-leaf' colspan='1' rowspan='1'><div class='cell'>" + d.name + "</div></td>"
                +"<td class='el-table_1_column_5 is-leaf' colspan='1' rowspan='1'><div class='cell'>" + d.phone + "</div></td>"
                +"<td class='el-table_1_column_6 is-leaf' colspan='1' rowspan='1'><div class='cell'>" + d.address +"</div></td>"
                +"<td class='el-table_1_column_7 is-leaf' colspan='1' rowspan='1'><div class='cell'>" + d.orderTime+"</div></td>"
                +"<td class='el-table_1_column_8 is-leaf' colspan='1' rowspan='1'><div class='cell'>" + d.collection+"</div></td>"
                +"<td class='el-table_1_column_9 is-leaf' colspan='1' rowspan='1' style='width: 153px'><div>"
                +"<button type='button' class='el-button el-button--primary' onclick='updateValid(this)' style='width: 73px;'>状态</button>"
                +"<button type='button' class='el-button--primary el-button continue'>删除</button></div></td></tr>";
            tbody.append(tr);
            //每一行上面绑定当前行数据
            $("#tbodyId tr").last().data("order",data[i]);
        }
    }

    /**
     * 多选框全选事件方法
     */
    function commonChoiceAll() {
        //$():$包起来的是jq对象，是一个dom数组
        //加下标：变成js对象
        var firstInp = $(".el-checkbox__input input[type='checkbox']:first");
        var checked = firstInp[0].checked;//加下标变js对象
        //:gt(0) --->选择下标大于0的元素
        $(".el-checkbox__input input[type='checkbox']:gt(0)").prop("checked", checked);
    }
</script>